/* 
footer.css
this document contains the css code to style the footer in index.html 
Copyright MOOVEE Team 2022
*/

/* classes */

/* container for all of the social icon containers  */
.social-icon {
	text-align: center;
	background-color: none;
}

/* override font-awesome */
.fa {
	padding: 5px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;

	border-radius: 50%;
}

/* hover effect slightly darken */
.fa:hover {
	opacity: 0.7;
}

.fa-facebook,
.fa-instagram,
.fa-youtube {
	color: black;
	background-color: #ed7d31;
}

.fa-youtube {
	padding-right: 8px;
	width: 44px !important;
}
