/* 
style.css
this document contains the css code to style index.html 
Copyright MOOVEE Team 2022
*/

/*footer style*/
@import url(./footer.css);

/*These universal properties apply to the whole css*/
* {
	--Blue: #0d278a;
	--Purple: #7d2aac;
	font-family: 'Noto Serif', serif;
}
/*These are the wrapper/body container properties*/
body {
	background-color: black;
	color: azure;
	font: 25px;
}
/*search bar properties*/
form {
	display: flex;
	justify-content: center;
}

header {
	padding: 40px;
}

.search.content {
	text-align: center;
}

.search-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*search button*/
#search-button {
	background-color: var(--Purple);
	color: azure;
	font-size: 15px;
	font-family: 'Noto Serif', serif;
	border-radius: 10px;
}

/* the input element for the search query */
#search-box {
	display: flex;
	justify-content: center;
	background-color: var(--Purple);
	color: azure;
	font-size: 15px;
	font-family: 'Noto Serif', serif;
	width: 300px;
	border-radius: 10px;
}

#search-button {
	width: 300px;
	border-radius: 10px;
	font-size: 15px;
	height: 45px;
	padding-top: 4px;
}

#name {
	text-align: center;
}

/* modal popup */
/* footer */
.modal-content {
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* loading animation */
.modal-content img {
	object-fit: cover;
	object-position: center;
	width: 50px;
	height: 50px;
}

.modal-footer {
	background-color: transparent !important;
}

/* button to trigger recent searches */
.dropdown-trigger {
	position: relative;
	left: 3rem;
	width: 50%;
}

/* dropdown of recent searches */
.dropdown-content li > a {
	color: black;
	text-align: center;
}

/* container for movie search results */
.result-container {
	margin-bottom: 100px;
	margin-top: 40px;
}

/* movie titles */
.title {
	color: var(--Red);
	font-size: 35px;
}

/* movie years */
li.year {
	margin: 10px;
}

/* movie ratings */
li.rated {
	background-color: var(--Purple);
	padding: 5px;
}

/* movie genres */
.genre {
	background-color: #212121;
	padding: 5px;
}

.btn {
	font-family: 'Noto Serif', serif;
}

.social-icon {
	margin: 20px;
	display: flex;
	justify-content: center;
}

/* media queries */
@media (min-width: 800px) {
	.result-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		display: flex;
		justify-content: center;
	}
	.movie-details {
		margin: 30px;
		text-align: center;
		width: 500px;
	}
}
@media (max-width: 800px) {
	.result-container {
		text-align: center;
	}
	.movie-details {
		margin: 30px;
	}
	.search-area {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	#search-button {
		margin-right: 100px;
		margin-bottom: 20px;
	}
}
