/*footer style*/
@import url(./footer.css);

/*These universal properties apply to the whole css*/
* {
	--Red: #ec5049;
	--Blue: #0d278a;
	--Pink: #f097d5;
	--Purple: #7d2aac;
	font-family: "Noto Serif", serif;
}
/*These are the wrapper/body container properties*/
body {
	background-color: black;
	color: azure;
	font: 25px;
}
/*search bar properties*/
form {
	display: flex;
	justify-content: center;
	margin: 40px;
}

/*search button*/
#searchBtn {
	background-color: var(--Blue);
	color: azure;
	font-size: 20px;
}

#searchBox {
	display: flex;
	justify-content: center;
	background-color: var(--Blue);
	color: azure;
	font-size: 20px;
}
#name {
	text-align: center;
}
